/*font face import of poppins*/

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
    font-weight: normal;
}

  @font-face {
    font-family: Poppins;
    src: url(font/Poppins-Black.ttf);
    font-weight: bold; 
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-ExtraBold.ttf);
    font-weight: bolder; 
}

body{
    background-image: url(pictures/background_felda.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

nav{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.527);   
    padding: 5%;

}
nav ul{
    margin: 0;
    padding: 0;
}

.menu ul li{
    list-style: none;
    font-size: 1.6em;
    text-align: center;
    margin: 2% 0;

}
.menu a{
    text-decoration: none;
    color: white;    
}

.menu a:hover{
    color: #f1b42d;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 8% 0 25% 0;
}

.logo_felda{
    max-width: 85%;
}

.uvodni_text{
    background-image: url(pictures/text_bcg\ -\ sm.png);
    background-repeat: no-repeat;
    display: flex;
    padding: 10% 10%;
    background-size: 100vw;
}

.uvodni_text p{
    text-align: center;
    padding: 9% 0 10% 0;
    color: white;
}

footer{
    margin: 40% 0 0 0;
    padding:  0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;

}

.ig_logo{
    
    max-width: 30px;
    height: auto;
    margin-right: 2%;
}

footer a{
    margin-top: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}